node_modules
dist
out
dist-app
resources-stage
.DS_Store
*.log
coverage
.vite
.kimi-code/local.toml
.tmp/
.ci-signing/
.env
mac_keys
packages/app-ui/src/assets/fonts/NotoSansSC\[wght\].woff2
packages/app-ui/src/assets/fonts/SpecialGothic\[wdth,wght\].woff2
packages/app-ui/src/assets/fonts/SchibstedGrotesk\[wght\].woff2
packages/app-ui/src/assets/fonts/SchibstedGrotesk-Italic\[wght\].woff2
packages/app-ui/src/assets/fonts/ZalandoSans\[wdth,wght\].woff2
packages/app-ui/src/assets/fonts/ZalandoSans-Italic\[wdth,wght\].woff2
